{{define "fils.list"}}
<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Rompelago</title>
  <link rel="stylesheet" href="/static/css/forum.css">
</head>
<body>
  <header class="header">
    <div class="align-header">
      <img class="logo" src="/static/assets/logo.png" alt="Rompelago Logo">
      <div>
        <img class="text" src="/static/assets/ROMPELAGO.png" alt="Rompelago Logo">
      </div>
    </div>
  </header>
  <main>
    <div class="box">
      <h1>Forum</h1>
      <p>Bienvenue sur le forum de Rompelago ! Ici, vous pouvez discuter de tout ce qui concerne notre projet, poser des questions, partager des idées et collaborer avec d'autres membres de la communauté. N'hésitez pas à participer et à contribuer à la croissance de notre forum !</p>
      <a href="/fil/nouveau">+ Nouveau fil</a>

      {{if .}}
        {{range .}}
        <div class="fil-card">
          <h2><a href="/fil/{{.Id}}">{{.Name}}</a></h2>
          <p>{{.Description}}</p>
          <small>
            Catégorie : {{.CategorieName}} |
            Statut : {{.TagName}} |
            Créé le : {{.DateCreation}}
          </small>
        </div>
        {{end}}
      {{else}}
        <p>Aucun fil de discussion pour le moment.</p>
      {{end}}
    </div>
  </main>
</body>
</html>
{{end}}